<p>
  Recebemos um pedido para trocar de e-mail. Use o código abaixo para confirmar a troca:
</p>

<p>
  {{ code }}
</p>

<p>
  Se você não pediu para trocar de e-mail, nenhuma ação é necessária.
</p>

<p>
  {{ appName }}
</p>
