<p>
  Obrigado por se inscrever no {{ appName }}. Use o código abaixo para confirar seu e-mail.
</p>

<p>
  {{ code }}
</p>

<p>
  Se você não se cadastrou no {{ appName }} nenhuma ação é necessária.
</p>

<p>
  {{ appName }}
</p>
