<p>
  Obrigado por se inscrever no Modèle. Use o código abaixo para confirar seu e-mail.
</p>

<p>
  {{ code }}
</p>

<p>
  Se você não se cadastrou no Modèle nenhuma ação é necessária.
</p>

<p>
  Modèle
</p>
